body {
  background-color: #fff;
}

.title {
  user-select: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  margin: 42px auto 0;
}

.app-header {
  display: flex;
  height: 55px;
  font-family: cursive;
  font-size: 35px;
}

.header1 {
  width: 15%;
  color: rgb(241, 183, 76);
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-color: orange;
  border: 8px solid;

}

.header2 {
  width: 85%;
  background-color: rgb(241, 183, 76);
  color: azure;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.interval {
  padding: 15px 0px 0px 10px;
  font-family: cursive;
  font-size: 20px;
  display: flex;
}

.interval-date {
  display: flex;
  padding: 0px 10px 0px 10px;
}

.interval-button {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 20%;
  color: orange;
  margin: 0px 10px 0px 10px;
  background-color: #F5F7FA
}

button:focus {
  background-color: orange;
  color: white;
}

/* Gradient Range Slider */
.react_time_range__track {
  background: linear-gradient(to right, yellow, orange);
  background-size: 200% 100%;
  background-position: 50% 0;
  border: none;
  border-left: none !important;
  border-right: none !important;
}

.react_time_range__time_range_container {
  padding: 50px;
  width: 100%;
}

.react_time_range__handle_marker {
  background-color: orange;
}