body {
  background-color: #fff;
}

.header-with-logo{
  display: flex;
}

.app-header {
  display: flex;
  height: 55px;
  width: 100%;
  font-size: 35px;
  color: black;
  background: linear-gradient(to right, #ffffff, #BEEF63);
  background-size: 105% 200%;
  background-position: 100% 100%;
  justify-content: space-between;
  padding: 5px;
}

.interval {
  padding: 15px 0px 0px 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
}

.interval-date {
  display: flex;
  padding: 0px 10px 0px 10px;
}

.interval-button {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 20%;
  color: black;
  margin: 0px 10px 0px 10px;
  background-color: #F5F7FA
}

.selected {
  background-color: #BEEF63;
  color: black;
}

/* Gradient Range Slider */
.react_time_range__track {
  background: linear-gradient(to right, #ffffff, #BEEF63);
  background-size: 200% 200%;
  background-position: 100% 100%;
  border: none;
  border-left: none !important;
  border-right: none !important;
}

.react_time_range__time_range_container {
  padding: 50px !important;
  width: 100% !important;
}

.react_time_range__handle_marker {
  background-color: #BEEF63;
}